@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';


.main_block{
    width: 100%;
    height: 100%;
    text-align: center;
    display: block;
    background-color: #EAEDED;
}
.samples-block{
   
}

.position{
    
    background-color: white;
    width: 50%;
    margin: 30px 0px 33px 343px;
    box-shadow: 1px 1px 2px black;
}

.btn-secondary{
    margin: 10px;
    background-color: #3F74F7;
    border-color:transparent;
}

.btn-success{
  margin:20px
}

.select-display{
    margin-left: 343px;
    z-index: 1000;
    flex-direction: column;
    border: 1px solid #e5e5e5;
    background-color: white;
    height: auto;
    box-shadow: 0 5px 5px rgb(0 0 0 / 50%);
    width: 250px;
}

.charts{
    display: flex;
}